{% extends 'base.html' %}

{% block title %} Deft.B | {{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .message-content img {
            max-width: 100%;
            max-height: 100%;  /* adjust as needed */
            height: auto;
        }
        .container {
            direction: ltr;
        }
        body {
            padding-bottom: 70px; 
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-12">
                <p><strong>Subject: </strong> {{ message.subject }}</p>
                <p><strong>Sender: </strong> {{ message.sender }}</p>
                <p><strong>Date: </strong> {{ message.date[:-6] }}</p>
                <div class="message-content">
                    <div>{{ message.html|safe }}</div>
                </div>
                <p>{{ message.text }}</p>
                {% if message.attachments != [] %}
                <p>{{ message.attachments }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}