{% extends 'base.html' %}

{% block title %} Deft.B | {{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .message-content img {
            max-width: 100%;
            max-height: 100%;  /* adjust as needed */
            height: auto;
        }
        .container {
            direction: ltr;
        }
        .attachment {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .icon {
            padding: 10px 20px;  
            border-radius: 25px;  
            background-color: #085;
            color: #fff;
            display: inline-block;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
        }
        .filename {
            font-size: 14px;
            margin-left: 10px;
        }
        body {
            padding-bottom: 70px; 
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-12">
                <p><strong>Subject: </strong> {{ message.subject }}</p>
                <p><strong>Sender: </strong> {{ message.sender }}</p>
                <p><strong>Date: </strong> {{ message.date[:-6] }}</p>
                <div class="message-content">
                    <div>{{ message.html|safe }}</div>
                </div>
                <p>{{ message.text }}</p>
                {% if attachments %}
                    <div class="attachments">
                        {% for attachment in attachments %}
                            <div class="attachment">
                                <a href="{{ url_for('download_attachment', message_id=attachment['message_id'], filename=attachment['filename']) }}" target="_blank">
                                    <div class="icon">{{ attachment['filename'].split('.')[-1].upper() }}</div>
                                    <div class="filename">{{ attachment['filename'] }}</div>
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}