{% extends "base.html" %}
{% block title %}Deft.B | Trash {% endblock %}
{% block content %}
{% if not messages %}
    <div class="no_mail">
        <p>The World Is Not In Your Empty Mailbox. <br> It's Out There.</p>
    </div>
    <div class="no_mail_img style="display: flex; justify-content: center; align-items: center; height: 80vh;">
        <img src="\static\images\empty_gandalf.png"
         alt="No messages">
    </div>
    {% else %}
    <div id="message-row">
    {% for msg in messages %}
        {% if "UNREAD" in msg.label_ids %}
        <div class="message-row">
            <div class="message-sender-subject">
                <p><strong><a href="{{ url_for('get_messages_by_source', sender_email = msg.sender) }}">{{ get_name(msg.sender) }}</a></strong></p>
                <p><strong><a href="{{ url_for('show_message_info', message_id=msg.id, labels=msg.label_ids) }}">{{ msg.subject }}</a></strong></p>
            </div>
            <div class="message-snippet">
                {% if msg.snippet|length <= 30 %}
                    <p><strong>{{ msg.snippet }}</strong></p>
                {% else %}
                    <p><strong>{{ msg.snippet[:30] }}...</strong></p>
                {% endif %}
            </div>
            <div class="message-date">
                <p><strong>{{ msg.date.strftime('%Y-%m-%d %H:%M:%S') }}</strong></p>
            </div>
            {% if attachments %}
            <div class="attachments">
                {% for attachment in attachments %}
                    <div class="attachment">
                        <a href="{{ url_for('download_attachment', message_id=attachment['message_id'], filename=attachment['filename']) }}" target="_blank">
                            <div class="icon">{{ attachment['filename'].split('.')[-1].upper() }}</div>
                            <div class="filename">{{ attachment['filename'] }}</div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
            <!-- Dropdown menu -->
            <div class="btn-group" style="margin-left: 20px;">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Labels
                </button>
                <div class="dropdown-menu">
                    <!-- Loop through labels and create a dropdown item for each one -->
                    {% for label in labels %}
                    <form action="{{ url_for('add_label_to_message') }}" method="post">
                        <input type="hidden" name="message_id" value="{{ msg.id }}">
                        <input type="hidden" name="wanted_label" value="{{ label.name }}">
                        <input type="hidden" name="date" value="{{ msg.date }}">
                        <input type="hidden" name="subject" value="{{ msg.subject }}">
                        <button type="submit" class="btn btn-outline-primary dropdown-item">{{ label.name }}</button>
                    </form>
                    {% endfor %}
                </div>
            </div>
            <!--"Delete" button -->
            <div class="btn-group" style="margin-left: 20px;">
                <form method="POST" action="/api/v1/gmail/messages/move_to_garbage">
                    <input type="hidden" name="message_id" value="{{ msg.id }}">
                    <button type="submit" class="btn btn-outline-danger">Delete Permenatly</button>
                </form>
        <hr style="margin-left: 20px;">
        </div>
        </div>
        {% else %}
        <div class="message-row">
            <div class="message-sender-subject">
                <p><a href="{{ url_for('get_messages_by_source', sender_email= msg.sender) }}">{{ get_name(msg.sender) }}</a></p>
                <p><a href="{{ url_for('show_message_info', message_id=msg.id, labels=msg.label_ids) }}">{{ msg.subject }}</a></p>
            </div>
            <div class="message-snippet">
                {% if msg.snippet|length <= 30 %}
                    <p>{{ msg.snippet }}</p>
                {% else %}
                    <p>{{ msg.snippet[:30] }}...</p>
                {% endif %}
            </div>
            <div class="message-date">
                <p>{{ msg.date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            </div>
            <!-- Dropdown menu -->
            <div class="btn-group" style="margin-left: 20px;">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Labels
                </button>
                <div class="dropdown-menu">
                    <!-- Loop through labels and create a dropdown item for each one -->
                    {% for label in labels %}
                    <form action="{{ url_for('add_label_to_message') }}" method="post">
                        <input type="hidden" name="message_id" value="{{ msg.id }}">
                        <input type="hidden" name="wanted_label" value="{{ label.name }}">
                        <input type="hidden" name="date" value="{{ msg.date }}">
                        <input type="hidden" name="subject" value="{{ msg.subject }}">
                        <button type="submit" class="btn btn-outline-primary dropdown-item">{{ label.name }}</button>
                    </form>
                    {% endfor %}
                </div>
            </div>
            <!--"Delete" button -->
            <div class="btn-group" style="margin-left: 20px;">
                <form method="POST" action="/api/v1/gmail/messages/move_to_garbage">
                    <input type="hidden" name="message_id" value="{{ msg.id }}">
                    <button type="submit" class="btn btn-outline-danger">Delete Permenatly</button>
                </form>
        </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}