.sub-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #f2dee9;
    border: none;
}

.toolbar {
    margin-left: 30px;
    gap: 10px;
    
}

.toolbar button{
    border: none;
    background-color: #f2dee9;
    outline: none;
}

.toolbar i{
    font-size: 22px;
}

.daily-summary button {
    position: relative;
    border: none;
    background-color: #f2dee9;
    outline: none;
}

.toolbar button:hover,
.daily-summary button:hover {
    border-bottom: 2px solid rgb(2, 159, 101);
}

.daily-summary i{
    font-size: 22px;
}

.summary-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 3px solid #085;
    border-radius: 50px;
    width: 700px;
    height: 500px;
    text-align: center;
}